html {
    font-size: 16px;
    line-height: 1.5em;
}

@font-face {
    font-family: playtone;
    src: url(../media/PaytoneOne.ttf);
}

.header-container {

    height: 84px;
}

.header {
    height: 63px;
    width: 100%;
    background: -webkit-linear-gradient(#ACCC08, #98B210);
    background: -o-linear-gradient(#ACCC08, #98B210);
    background: -moz-linear-gradient(#ACCC08, #98B210);
    background: linear-gradient(#30ADBF, #1693A5);
    border-color: #98B210;
    border-radius: 0;
    -webkit-box-shadow: 0 3px 8px rgba(0,0,0,.25);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.logo {
    font-family: 'playtone', sans-serif;
    font-size: 60px;

    font-weight: 900;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #30ADBF;
    color: #EBDFD8;

    text-shadow: 1px 1px 5px rgba(0,0,0,.25);
    margin-top: -12px;
    margin-left: 35px;
    line-height: 0em;
}



/*
    css for the generated threads
*/
.thread {
    border-bottom: 1px solid #1693A5;
}
.score {
    text-algn: center;
}
.score_toasts, .score_roasts, .score_num {
    display: block;
}
.score_toasts, .score_roasts {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.score_num {
    text-align: center;
}
.score_toasts {
    background: url("../images/toast.png");
    background-size: 20px 20px;
}
.score_roasts {
    background: url("../images/roast.png");
    background-size: 20px 20px;
}
