@font-face {
    font-family: playtone;
    src: url(../media/PaytoneOne.ttf);
}

/* ******************************** */
/*              Layout              */
/* ******************************** */
html, body {
    font-size: 14px;
    line-height: 1.5em;
    font-family: Montserrat, helvetica, arial, sans-serif;
    background: #fefccb url('../images/toastbkg.png') no-repeat fixed;
    background-position-x: 98%;
    background-position-y: 95%;
    background-size: 100px;
}

a {
    text-decoration: none;
}

/* ******************************** */
/*              Header              */
/* ******************************** */
.header-container {
    height: 84px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}

.header {
    height: 62px;
    width: 100%;
    background: -webkit-linear-gradient(#4AC7D9, #1693A5);
    background: -o-linear-gradient(#4AC7D9, #1693A5);
    background: -moz-linear-gradient(#4AC7D9, #1693A5);
    background: linear-gradient(#4AC7D9, #1693A5);
    border-color: #98B210;
    border-radius: 0;
    -webkit-box-shadow: 0 3px 8px rgba(0,0,0,.25);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: center;
}

/* old liner header background colors
background: linear-gradient(#30ADBF, #1693A5);
*/

.logo {
    font-family: 'playtone', sans-serif;
    font-size: 55px;
    /* ****** old logo color #EBDFD8 ***** */

    text-shadow: 1px 1px 5px rgba(0,0,0,.25);
    line-height: .95em;
    text-transform: none;
    text-decoration: none;
    color: #fefcfb;
    display: inline-block;
}

.new-thread-button {
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    float: right;
    margin-right: 2%;
    margin-top: 20px;
    /*padding: 2px 10px;
    height: 25px;
    width: auto;
    border-style: solid;
    border-color: #EBDFD8;
    color: #EBDFD8;
    border-width: 2px;
    border-radius: 8px;
    -webkit-box-shadow: 0 3px 8px rgba(0,0,0,.25);
    background: linear-gradient(#30ADBF, #1693A5);*/
    padding: 4px 14px;
    border-radius: 5px;
    border: 0;
    color: #30ADBF;
    background: #FEFDFB;

    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.new-thread-button:hover, .new-thread-button:focus {
    /*padding: 2px 10px;
    height: 25px;
    width: auto;
    font-size: 13px;
    text-transform: uppercase;
    float: right;
    margin-top: 22px;
    margin-right: 2%;
    border-style: solid;
    border-color: #EBDFD8;
    color: #EBDFD8;
    border-width: 2px;
    border-radius: 8px;
    -webkit-box-shadow: 0 3px 8px rgba(0,0,0,.25);
    text-decoration: none;*/
    background: #E6E6E6;


    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.new-thread-button, .new-thread-button:hover, .new-thread-button:focus {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

/* .new-thread-button:focus{
    padding: 2px 10px;
    height: 25px;
    width: auto;
    font-size: 13px;
    text-transform: uppercase;
    float: right;
    margin-top: 22px;
    margin-right: 2%;
    border-style: solid;
    border-color: #EBDFD8;
    color: #EBDFD8;
    border-width: 2px;
    border-radius: 8px;
    -webkit-box-shadow: 0 3px 8px rgba(0,0,0,.25);
    text-decoration: none;
    background: linear-gradient(#EEEDEB, #FEFDFB);
}*/

/* *************************************** */
/*    new thread page styling              */
/* *************************************** */
#new_thread {
    margin-top: 84px;
}
.new-thread-box {
    display: inline-block;
}

.new-thread-form {
    padding: 30px 20px 20px;
}
h1.subtitle {
    font-weight: 100;
    font-size: 18px;
}
.new-thread-page-title {
    font-size: 30px;
    color: #333333;
    font-weight: 900;
    padding-top: 50px;
    padding-left: 20px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #333333;
    text-shadow: 1px 1px 5px rgba(0,0,0,.25);
}

.new-thread-title-field {
    font-size: 18px;
    padding: 8px 10px;
    -webkit-border-radius: 5px;
    border: 1px solid #1693A5;
    background-color: #e9eaed;
    width: 100%;
    text-shadow: 1px 1px 5px rgba(0,0,0,.25);
}

.new-thread-create-button{
    float: left;
    margin-bottom: 20px;
    border: 2px solid #30ADBF;
    font-size: 14px;
}
.radius-selector{
    width: 120px;
    font-size: 14px;
    padding: 8px 10px;
    -webkit-border-radius: 5px;
    border: 1px solid #1693A5;
    background-color: #e9eaed;
    font-family: 'Montserrat', sans-serif;
}
.new-thread-text-area{
    font-size: 14px;
    padding: 8px 10px;
    -webkit-border-radius: 5px;
    border: 1px solid #1693A5;
    background-color: #e9eaed;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}
.new-thread-image {
    height: 16px;
    width: 16px;
}


/* ******************************************* */
/*              Home Index Page Styling        */
/* ******************************************* */

#home {
    margin-top: 84px;
    position: relative;
}

.thirtypadding {
    height: 30px;
    width: 100%;
}
.profilepane {
    height-min: 100px;
    background-color: white;
    min-height: 450px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.profile_header {
    background: #30ADBF;
    padding: 10px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: white;
    font-size: 1.1em;
    background: -webkit-linear-gradient(#4AC7D9, #1693A5);
    background: -o-linear-gradient(#4AC7D9, #1693A5);
    background: -moz-linear-gradient(#4AC7D9, #1693A5);
    background: linear-gradient(#4AC7D9, #1693A5);
    -webkit-box-shadow: 0 3px 8px rgba(0,0,0,.25);
    font-weight: 900;
    padding-left: 20px;
    text-align: center;
}



/* ******************************************* */
/*              Threads - General              */
/* ******************************************* */
.threads_header {
    background: #30ADBF;
    padding: 10px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: white;
    font-size: 1.5em;
    background: #30ADBF;
    padding: 10px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: white;
    font-size: 1.1em;
    background: -webkit-linear-gradient(#4AC7D9, #1693A5);
    background: -o-linear-gradient(#4AC7D9, #1693A5);
    background: -moz-linear-gradient(#4AC7D9, #1693A5);
    background: linear-gradient(#4AC7D9, #1693A5);
    -webkit-box-shadow: 0 3px 8px rgba(0,0,0,.25);
    font-weight: 900;
    padding-left: 20px;
    text-align: center;
}

.bottomlogo {
    font-size: 14px;
}
.threads_load_more {
    background: #eee;
}
.threads_load_more .load {
    width: 80px;
    margin: 10px auto;
    display: block;
}

.footer.footer {
    height: 22px;
    width: 100%;
    background: -webkit-linear-gradient(#4AC7D9, #1693A5);
    background: -o-linear-gradient(#4AC7D9, #1693A5);
    background: -moz-linear-gradient(#4AC7D9, #1693A5);
    background: linear-gradient(#4AC7D9, #1693A5);
    /* border-color: #98B210; */
    border-radius: 0;
    -webkit-box-shadow: 0 3px 8px rgba(0,0,0,.25);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: center;
}

/* **************************************** */
/*              Static Threads              */
/* **************************************** */



/* ******************************************* */
/*              Generated Threads              */
/* ******************************************* */
.single_thread {
    border-bottom: 1px solid #99C9D0;
    background: white;
    overflow: hidden;
    position: relative;
    min-height: 100px;
}
    .single_thread:last-child { border-bottom: 0; }
.single_thread:hover, .single_thread:focus {
    background: #E6E6E6;
    cursor: pointer;
}
    .single_thread, .single_thread:hover, .single_thread:focus {
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
.single_thread .thread_link {
    color: #333;
    text-decoration: none;
    display: block;
    overflow: hidden;
    margin: 10px;
}
.single_thread .image {
    float: left;
    display: inline-block;
    position: absolute;
}
    .single_thread .image,  .single_thread .image img {
        width: 80px;
        height: 80px;
    }
.single_thread .description {
    width: 100%;
    padding-right: 30px;
    display: block;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
    .single_thread .description.img_present { padding-left: 90px; }
.single_thread .title {
    font-size: large;
    margin: 5px 0;
    display: inline-block;
    font-weight: bold;
}
.single_thread .date, .single_thread .location {
    color: #777;
    font-size: .8em;
}
.single_thread .date {
    float: left;
    clear: both;
}
.single_thread .location {
    display: inline-block;
    font-style: italic;
}
.single_thread .score {
    position: absolute;
    text-align: center;
    width: 30px;
    top: 10px;
    right: 5px;
}
.score_toasts, .score_roasts, .score_num {
    display: block;
    margin: 0 auto;
}
.score_toasts, .score_roasts {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.score_num {
    margin: 0 10px;
    line-height: 20px;
}
.score_toasts {
    background: url("../images/toast.png");
    background-size: 20px 20px;
}
.score_roasts {
    background: url("../images/roast.png");
    background-size: 20px 20px;
}

span.column11.text {
    font-size: medium;
}

.profile-table {
    padding-left: 40px;
    padding-top: 20px;
}


/* ************************************* */
/*              View Thread              */
/* ************************************* */
#thread_view {
    margin-top: 84px;
}
.thread_view_image {
    background: rgba(109, 86, 54, 1);
    padding: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.thread_view_content {
    background: white;
    border-radius: 5px;
}
.thread_view_image + .thread_view_content {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.thread_view_image .image {
    width: 100%;
}

.view_thread {
    background: white;
    padding: 20px;
    overflow: hidden;
    border-bottom: 1px solid #99C9D0;
}
.view_thread h2 {
    margin-bottom: 10px;
    display: inline-block;
}
.view_thread .location {
    display: inline-block;
    font-size: .8em;
    font-style: italic;
    margin-left: 5px;
    color: #777;
}
.view_thread .text {
    margin-bottom: 1px;
}
.view_score {
    float: right;
}
.view_score .score_num {
    text-align: center;
    margin: 5px 0;
}
.view_score .score_num, .view_score .score_toasts, .view_score .score_roasts {
    display: block;
}
.view_score .score_toasts, .view_score .score_roasts {
    background-size: 30px 30px;
    height: 30px;
    width: 30px;
    margin: 0 auto;
}
.view_thread .date, .author {
    font-size: .9em;
    color: #777;
}

.post_author{
    font-size: .9em;
    color: #777;
}

.view_thread .date {
    float: left;
}
.view_thread .author {
    float: right;
}

.posts {
    margin: 20px;
}

.post_group {
    margin-left: 30px;
}
.post_group:first-child { margin-left: 0; }
.single_post {
    overflow: hidden;
}
.expand_button {
    width: 15px;
    float: left;
    display: inline-block;
}
.expand_content {
    padding: 3px;
    float: left;
    display: inline-block;
    border-left: 1px;
    border-style: solid;
    border-color: rgb(52, 177, 195);
    margin-top: 8px;
}
.single_post .votes {
    width: 25px;
    float: left;
}
.single_post .post_content {
    float: left;
}



