@font-face {
    font-family: playtone;
    src: url(../media/PaytoneOne.ttf);
}

/* ******************************** */
/*              Layout              */
/* ******************************** */
html, body {
    font-size: 16px;
    line-height: 1.5em;
    background-color: #FEFDFB;
    background-color: #E6E6E6;
    background: -webkit-linear-gradient(#4AC7D9, #1693A5);
    background: -o-linear-gradient(#4AC7D9, #1693A5);
    background: -moz-linear-gradient(#4AC7D9, #1693A5);
    background: linear-gradient(#4AC7D9, #1693A5);
    font-family: Montserrat, helvetica, arial, sans-serif;
}


/* ******************************** */
/*              Header              */
/* ******************************** */
.header-container {
    height: 84px;
}

.header {
    height: 63px;
    width: 100%;
    background: -webkit-linear-gradient(#4AC7D9, #1693A5);
    background: -o-linear-gradient(#4AC7D9, #1693A5);
    background: -moz-linear-gradient(#4AC7D9, #1693A5);
    background: linear-gradient(#4AC7D9, #1693A5);
    border-color: #98B210;
    border-radius: 0;
    -webkit-box-shadow: 0 3px 8px rgba(0,0,0,.25);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

/* old liner header background colors
background: linear-gradient(#30ADBF, #1693A5);
*/

.logo {
    font-family: 'playtone', sans-serif;
    font-size: 60px;

    font-weight: 900;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #30ADBF;
    color: #EBDFD8;

    text-shadow: 1px 1px 5px rgba(0,0,0,.25);
    margin-top: -12px;
    margin-left: 4%;
    line-height: 1.3em;
}

.new-thread-button {
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    float: right;
    margin-right: 2%;
    margin-top: 20px;
    /*padding: 2px 10px;
    height: 25px;
    width: auto;
    border-style: solid;
    border-color: #EBDFD8;
    color: #EBDFD8;
    border-width: 2px;
    border-radius: 8px;
    -webkit-box-shadow: 0 3px 8px rgba(0,0,0,.25);
    background: linear-gradient(#30ADBF, #1693A5);*/
    padding: 4px 14px;
    border-radius: 5px;
    border: 0;
    color: #30ADBF;
    background: #FEFDFB;
}

.new-thread-button:hover, .new-thread-button:focus {
    /*padding: 2px 10px;
    height: 25px;
    width: auto;
    font-size: 13px;
    text-transform: uppercase;
    float: right;
    margin-top: 22px;
    margin-right: 2%;
    border-style: solid;
    border-color: #EBDFD8;
    color: #EBDFD8;
    border-width: 2px;
    border-radius: 8px;
    -webkit-box-shadow: 0 3px 8px rgba(0,0,0,.25);
    text-decoration: none;*/
    background: #E6E6E6;

    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

/* .new-thread-button:focus{
    padding: 2px 10px;
    height: 25px;
    width: auto;
    font-size: 13px;
    text-transform: uppercase;
    float: right;
    margin-top: 22px;
    margin-right: 2%;
    border-style: solid;
    border-color: #EBDFD8;
    color: #EBDFD8;
    border-width: 2px;
    border-radius: 8px;
    -webkit-box-shadow: 0 3px 8px rgba(0,0,0,.25);
    text-decoration: none;
    background: linear-gradient(#EEEDEB, #FEFDFB);
}*/

/* *************************************** */
/*    new thread page styling              */
/* *************************************** */

.new-thread-box {
    background-color: #EBDFD8;
    display: inline-block;
}

.new-thread-form {
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 30px;
    padding-right: 20px;
}
h1.subtitle {
    font-family: 'montserrat';
    font-weight: 100;
    font-size: 18px;
}
.new-thread-page-title {
    font-family: 'montserrat';
    font-size: 30px;
    color: #333333;
    font-weight: 900;
    padding-top: 50px;
}

.new-thread-title-field {
    font-size: 18px;
    padding: 8px 10px;
    -webkit-border-radius: 5px;
    border: 1px solid #1693A5;
    background-color: #e9eaed;
    width: 466px;
    width: 100%;
}

.new-thread-create-button{
    float: left;
    margin-bottom: 20px;
    font-family: 'montserrat';
}

.new-thread-text-area{
    font-size: 14px;
    padding: 8px 10px;
    -webkit-border-radius: 5px;
    border: 1px solid #1693A5;
    background-color: #e9eaed;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}
.new-thread-image {
    height: 16px;
    width: 16px;
}

/* ******************************************* */
/*              Threads - General              */
/* ******************************************* */
.threads_header {
    background: #30ADBF;
    padding: 10px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: white;
    font-size: 1.5em;
}


/* **************************************** */
/*              Static Threads              */
/* **************************************** */



/* ******************************************* */
/*              Generated Threads              */
/* ******************************************* */
.thread {
    border-bottom: 1px solid #1693A5;
    padding: 10px;
    background: white;
}
    .thread:last-child { border-bottom: 0; }
.score {
    text-algn: center;
}
.score_toasts, .score_roasts, .score_num {
    display: block;
}
.score_toasts, .score_roasts {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.score_num {
    text-align: center;
}
.score_toasts {
    background: url("../images/toast.png");
    background-size: 20px 20px;
}
.score_roasts {
    background: url("../images/roast.png");
    background-size: 20px 20px;
}
